header{
    width: 100%;
    text-align: center;
}

.menu{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}
.menu img{
    padding-right: 5px;
}
.menu h1{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.menu li{
    display: inline-block;
    margin-left: 15px;
}
.menu li a{
    color: #464646;
    text-decoration: none;
    
}

.menu li strong{
    font-weight: bold;
    color: #464646;
}


@media  (max-width: 968px) { 

    .menu{
        width: 90%;
    }
    .menu ul> .ocultar{
        display: none;
    }
}

@media  (max-width: 768px) {
    
    .menu{
        width: 90%;
    }
   .menu ul> .ocultar{
       display: none;
   }
}

@media  (max-width: 368px) {
 .menu ul li strong{
     font-size: 14px;
 }
}