.sobre{
    background: #EAF2FD;
}

.container-sobre{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-sobre h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
}
.container-sobre p{
    width: 70%;
    margin-bottom: 20px;
}

.container-sobre img{
    width: 140px;
    height: 52px;
}

@media  (max-width: 968px) { 

    .container-sobre{
        width: 90%;
    }
    .container-sobre p{
        width: 85%;
    }
}

@media  (max-width: 768px) {
    
   .container-sobre p{
       width: 95%;
   }
}

@media  (max-width: 368px) {
    .sobre{
        height: auto;
        
    }
    .container-sobre h2{
        font-size: 22px;
        line-height: 26px;
    }
    .container-sobre p{
        font-size: 14px;
    }
}