/****** Configurações Gerais ******/
html{
    font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section{
    width: 100%;
    height: 400px;
}

.link-animado{
    position: relative;
}
.link-animado::after{
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #2a7ae4;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.4s ease-in-out;
}
.link-animado:hover::after{
    width: 100%;
}
h2, h3, p{
    color: #464646;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    height: 100px;
    width: 100%;
    background: #EAF2FD;
}